@use "common";
@use "lib";
@use 'common/variable' as *;

.sectFooter {
  padding: 15px 0;
}
.boxFooter{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $color-neutrals4;
}
.boxIntern{
  &-icon{
    i{
        color: $color-semantic4;
    }
  }
}
