<footer class="sectFooter">
  <div class="footerIntern">
    <div class="container">
      <div class="cntFooter mainColumn4">
        <div class="colFooter">
          <figure class="logoFooter">
            <img class="img-fluid" src="assets/images/logo.svg" alt="Logo" />
          </figure>
          <div class="txtFooter">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Perspiciatis, ipsam vitae! Optio, esse a dolores ipsa laborum
            repudiandae porro dolore quisquam, provident voluptatum rem.
          </div>
        </div>
        <div class="colFooter">
          <div class="titleFooter">Title 1</div>
          <nav class="navFooter">
            <ul>
              <li>
                <a href="#">Item 1</a>
              </li>
              <li>
                <a href="#">Item 2</a>
              </li>
              <li>
                <a href="#">Item 3</a>
              </li>
              <li>
                <a href="#">Item 4</a>
              </li>
              <li>
                <a href="#">Item 5</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="colFooter">
          <div class="titleFooter">Title 2</div>
          <nav class="navFooter">
            <ul>
              <li>
                <a href="#">Item 1</a>
              </li>
              <li>
                <a href="#">Item 2</a>
              </li>
              <li>
                <a href="#">Item 3</a>
              </li>
              <li>
                <a href="#">Item 4</a>
              </li>
              <li>
                <a href="#">Item 5</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="colFooter">
          <div class="titleFooter">Suivez-nous</div>
          <div class="listLink">
            <div class="itemLink">
              <a href="#"><i class="icn-facebook"></i></a>
            </div>
            <div class="itemLink">
              <a href="#"><i class="icn-linkedin"></i></a>
            </div>
            <div class="itemLink">
              <a href="#"><i class="icn-twitter"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footerCopyright">
    <div class="container">
      <div class="cntCopyright">
        <div class="itemCol">
          L'utilisation de ce site entraine l'acceptation des
          <a href="#" title="Conditions générales d'Utilisation"
            >Conditions générales d'utilisation</a
          >
          et des <a href="#">Cookies</a>
        </div>
        <div class="itemCol">
          Designed and Developed with 🤍 by <a href="#" title="Pulse">PULSE</a>
        </div>
      </div>
    </div>
  </div>
</footer>
