<div class="sectFooter">
    <div class="container">
        <div class="boxFooter">
            <div class="footerIntern">
                <div class="boxIntern">
                    Designed & developed with <span class="boxIntern-icon"><i class="icn-heart"></i></span> by PULSE
                </div>
            </div>
            <div class="footerCopyright">
                <div class="boxCopyright">
                    <span> 2025 © PULSE - Tous droits réservés. </span>
                </div>
            </div>
        </div>
    </div>
</div>