<section class="setBanniere">
  <div class="listBanniere">
    <div class="itemBanniere">
      <div class="itemIntern">
        <div class="banniereTxt">
          <div class="container">
            <div class="cnttxtIntern">
              <h2>Lorem, ipsum dolor.</h2>
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Laudantium!
              </p>
              <a href="#" class="btn">En savoir +</a>
            </div>
          </div>
        </div>
        <figure>
          <img
            class="img-fluid"
            src="assets/images/placeholder-lite.png"
            alt="Banniere"
          />
        </figure>
      </div>
    </div>
  </div>
</section>
<div class="container">
  <section>
    <h2 class="titleSection">Primary brand</h2>
    <div class="listColor">
      <div class="itemColor">
        <div class="itemIntern primary1">
          <div class="cntColor">
            <div class="colorIntern"></div>
          </div>
          <div class="colortxt">Color 1</div>
        </div>
      </div>
      <div class="itemColor">
        <div class="itemIntern primary2">
          <div class="cntColor">
            <div class="colorIntern"></div>
          </div>
          <div class="colortxt">Color 2</div>
        </div>
      </div>
      <div class="itemColor">
        <div class="itemIntern primary3">
          <div class="cntColor">
            <div class="colorIntern"></div>
          </div>
          <div class="colortxt">Color 3</div>
        </div>
      </div>
      <div class="itemColor">
        <div class="itemIntern primary4">
          <div class="cntColor">
            <div class="colorIntern"></div>
          </div>
          <div class="colortxt">Color 4</div>
        </div>
      </div>
      <div class="itemColor">
        <div class="itemIntern primary5">
          <div class="cntColor">
            <div class="colorIntern"></div>
          </div>
          <div class="colortxt">Color 5</div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <h2 class="titleSection">Neutrals / 100%</h2>
    <div class="listColor">
      <div class="itemColor">
        <div class="itemIntern neutrals1">
          <div class="cntColor">
            <div class="colorIntern"></div>
          </div>
          <div class="colortxt">Blanc 100%</div>
        </div>
      </div>
      <div class="itemColor">
        <div class="itemIntern neutrals2">
          <div class="cntColor">
            <div class="colorIntern"></div>
          </div>
          <div class="colortxt">Gris 1</div>
        </div>
      </div>
      <div class="itemColor">
        <div class="itemIntern neutrals3">
          <div class="cntColor">
            <div class="colorIntern"></div>
          </div>
          <div class="colortxt">Gris 2</div>
        </div>
      </div>
      <div class="itemColor">
        <div class="itemIntern neutrals4">
          <div class="cntColor">
            <div class="colorIntern"></div>
          </div>
          <div class="colortxt">Gris 3</div>
        </div>
      </div>
      <div class="itemColor">
        <div class="itemIntern neutrals5">
          <div class="cntColor">
            <div class="colorIntern"></div>
          </div>
          <div class="colortxt">Gris 4</div>
        </div>
      </div>
      <div class="itemColor">
        <div class="itemIntern neutrals6">
          <div class="cntColor">
            <div class="colorIntern"></div>
          </div>
          <div class="colortxt">Gris 5</div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <h2 class="titleSection">Neutrals / 50%</h2>
    <div class="listColor">
      <div class="itemColor">
        <div class="itemIntern neutralsLight1">
          <div class="cntColor">
            <div class="colorIntern"></div>
          </div>
          <div class="colortxt">Gris 1</div>
        </div>
      </div>
      <div class="itemColor">
        <div class="itemIntern neutralsLight2">
          <div class="cntColor">
            <div class="colorIntern"></div>
          </div>
          <div class="colortxt">Gris 2</div>
        </div>
      </div>
      <div class="itemColor">
        <div class="itemIntern neutralsLight3">
          <div class="cntColor">
            <div class="colorIntern"></div>
          </div>
          <div class="colortxt">Gris 3</div>
        </div>
      </div>
      <div class="itemColor">
        <div class="itemIntern neutralsLight4">
          <div class="cntColor">
            <div class="colorIntern"></div>
          </div>
          <div class="colortxt">Gris 4</div>
        </div>
      </div>
      <div class="itemColor">
        <div class="itemIntern neutralsLight5">
          <div class="cntColor">
            <div class="colorIntern"></div>
          </div>
          <div class="colortxt">Gris 5</div>
        </div>
      </div>
      <div class="itemColor">
        <div class="itemIntern neutralsLight6">
          <div class="cntColor">
            <div class="colorIntern"></div>
          </div>
          <div class="colortxt">Gris 6</div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <h2 class="titleSection">Semantic</h2>
    <div class="listColor">
      <div class="itemColor">
        <div class="itemIntern secondary1">
          <div class="cntColor">
            <div class="colorIntern"></div>
          </div>
          <div class="colortxt">Info</div>
        </div>
      </div>
      <div class="itemColor">
        <div class="itemIntern secondary2">
          <div class="cntColor">
            <div class="colorIntern"></div>
          </div>
          <div class="colortxt">Success</div>
        </div>
      </div>
      <div class="itemColor">
        <div class="itemIntern secondary3">
          <div class="cntColor">
            <div class="colorIntern"></div>
          </div>
          <div class="colortxt">Warning</div>
        </div>
      </div>
      <div class="itemColor">
        <div class="itemIntern secondary4">
          <div class="cntColor">
            <div class="colorIntern"></div>
          </div>
          <div class="colortxt">Danger</div>
        </div>
      </div>
    </div>
    <div class="listColor">
      <div class="itemColor">
        <div class="itemIntern secondaryLight1">
          <div class="cntColor">
            <div class="colorIntern"></div>
          </div>
          <div class="colortxt">Info Light</div>
        </div>
      </div>
      <div class="itemColor">
        <div class="itemIntern secondaryLight2">
          <div class="cntColor">
            <div class="colorIntern"></div>
          </div>
          <div class="colortxt">Success Light</div>
        </div>
      </div>
      <div class="itemColor">
        <div class="itemIntern secondaryLight3">
          <div class="cntColor">
            <div class="colorIntern"></div>
          </div>
          <div class="colortxt">Warning Light</div>
        </div>
      </div>
      <div class="itemColor">
        <div class="itemIntern secondaryLight4">
          <div class="cntColor">
            <div class="colorIntern"></div>
          </div>
          <div class="colortxt">Danger Light</div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <h2 class="titleSection">Others</h2>
    <div class="listColor">
      <div class="itemColor">
        <div class="itemIntern others1">
          <div class="cntColor">
            <div class="colorIntern"></div>
          </div>
          <div class="colortxt">Color 1</div>
        </div>
      </div>
      <div class="itemColor">
        <div class="itemIntern others2">
          <div class="cntColor">
            <div class="colorIntern"></div>
          </div>
          <div class="colortxt">Color 2</div>
        </div>
      </div>
      <div class="itemColor">
        <div class="itemIntern others3">
          <div class="cntColor">
            <div class="colorIntern"></div>
          </div>
          <div class="colortxt">Color 3</div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <h2 class="titleSection">Text Color</h2>
    <div class="listColor">
      <div class="itemColor">
        <div class="itemIntern txtcolor1">
          <div class="cntColor">
            <div class="colorIntern"></div>
          </div>
          <div class="colortxt">Default</div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <h2 class="titleSection">Shadow</h2>
    <div class="listColor cntBoxshadow">
      <div class="itemColor">
        <div class="itemIntern boxShadow-xs">
          <div class="cntColor">
            <div class="colorIntern"></div>
          </div>
          <div class="colortxt">xl</div>
        </div>
      </div>
      <div class="itemColor">
        <div class="itemIntern boxShadow-sm">
          <div class="cntColor">
            <div class="colorIntern"></div>
          </div>
          <div class="colortxt">sm</div>
        </div>
      </div>
      <div class="itemColor">
        <div class="itemIntern boxShadow-md">
          <div class="cntColor">
            <div class="colorIntern"></div>
          </div>
          <div class="colortxt">md</div>
        </div>
      </div>
      <div class="itemColor">
        <div class="itemIntern boxShadow-lg">
          <div class="cntColor">
            <div class="colorIntern"></div>
          </div>
          <div class="colortxt">lg</div>
        </div>
      </div>
      <div class="itemColor">
        <div class="itemIntern boxShadow-xl">
          <div class="cntColor">
            <div class="colorIntern"></div>
          </div>
          <div class="colortxt">xl</div>
        </div>
      </div>
      <div class="itemColor">
        <div class="itemIntern boxShadow-2xl">
          <div class="cntColor">
            <div class="colorIntern"></div>
          </div>
          <div class="colortxt">2xl</div>
        </div>
      </div>
      <div class="itemColor">
        <div class="itemIntern boxShadow-3xl">
          <div class="cntColor">
            <div class="colorIntern"></div>
          </div>
          <div class="colortxt">3xl</div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <h2 class="titleSection">Typography</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi adipisci
      cumque qui ea debitis illo natus, quod magnam perferendis obcaecati
      accusamus harum officiis tempora recusandae ducimus veniam architecto,
      mollitia facere. Illo natus voluptatibus esse explicabo. Blanditiis
      repudiandae nam dolor quaerat placeat veritatis quo ullam alias aliquid
      eum quam voluptatibus fugiat possimus, dolore excepturi consectetur totam
      vero perferendis sapiente quasi assumenda.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi adipisci
      cumque qui ea debitis illo natus, quod magnam perferendis obcaecati
      accusamus harum officiis tempora recusandae ducimus veniam architecto,
      mollitia facere. Illo natus voluptatibus esse explicabo. Blanditiis
      repudiandae nam dolor quaerat placeat veritatis quo ullam alias aliquid
      eum quam voluptatibus fugiat possimus, dolore excepturi consectetur totam
      vero perferendis sapiente quasi assumenda.
    </p>
    <div class="fontfamily1">
      <h3 class="titleSection">Font-family 1</h3>
      <p>a b c d e f g h i j k l m n o p q r s t u v w x y z</p>
      <p>A B C D E F G H I J K L M N O P Q R S T U V W X Y Z</p>
    </div>
    <div class="fontfamily2">
      <h3 class="titleSection">Font-family 2</h3>
      <p>a b c d e f g h i j k l m n o p q r s t u v w x y z</p>
      <p>A B C D E F G H I J K L M N O P Q R S T U V W X Y Z</p>
    </div>
    <h1 class="title1">h1. Title heading</h1>
    <h2 class="title2">h2. Title heading</h2>
    <h3 class="title3">h3. Title heading</h3>
    <h4 class="title4">h4. Title heading</h4>
    <h5 class="title5">h5. Title heading</h5>
    <h6 class="title6">h6. Title heading</h6>
  </section>
  <section>
    <h2 class="titleSection">Column</h2>
    <div class="mainColumn2">
      <div class="itemCol">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda,
        reprehenderit nihil. Facere, quam expedita optio excepturi voluptatum
        nobis commodi eligendi animi earum quos! Voluptates cum dolore, corrupti
        sunt tenetur facere.
      </div>
      <div class="itemCol">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda,
        reprehenderit nihil. Facere, quam expedita optio excepturi voluptatum
        nobis commodi eligendi animi earum quos! Voluptates cum dolore, corrupti
        sunt tenetur facere.
      </div>
    </div>
  </section>
  <section>
    <h2 class="titleSection">Button list</h2>
    <div class="mainColumn5">
      <div class="itemCol">
        <app-default-button (action)="onAction()">Default</app-default-button>
      </div>
      <div class="itemCol">
        <app-default-button (action)="onAction()" [aspect]="'outline'"
          >Outline</app-default-button
        >
      </div>
      <div class="itemCol">
        <app-default-button (action)="onAction()" [aspect]="'secondary'"
          >Secondary</app-default-button
        >
      </div>
      <div class="itemCol">
        <app-default-button (action)="onAction()" [aspect]="'outline2'"
          >Outline 2</app-default-button
        >
      </div>
      <div class="itemCol">
        <app-default-button (action)="onAction()" [aspect]="'unborder'"
          >Unborder</app-default-button
        >
      </div>
    </div>
  </section>
  <section>
    <h2 class="titleSection">ScrollBar</h2>
    <div class="testScroll-bar">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, id
      velit. Aspernatur, eveniet hic id deserunt veritatis provident.
      Necessitatibus quaerat facere, totam laudantium numquam possimus tempore
      vel ducimus non voluptate. Ex esse maxime, minus nisi non asperiores
      repellendus saepe magnam quod vel totam rem accusamus! Nemo suscipit cum
      magni nisi ratione voluptas autem quisquam dolores qui eos, maiores, nam
      eligendi? Repudiandae in assumenda accusamus doloribus placeat reiciendis
      explicabo dignissimos repellendus velit, id eligendi voluptatum itaque
      iusto corporis, at quibusdam nam ipsa laudantium atque, eveniet dolore
      pariatur veniam error sint. Magnam. Adipisci possimus velit temporibus.
      Facere sunt blanditiis, voluptatibus non enim ea voluptatem ad magnam hic
      nam a beatae eaque cupiditate ipsum explicabo inventore omnis temporibus
      delectus similique impedit! Omnis, optio! Nisi voluptates nobis fugiat
      quis, voluptas pariatur veniam molestias labore iure deserunt, rerum
      quidem quaerat, atque eligendi. Delectus possimus odio quo accusantium
      aspernatur repellendus debitis veniam. Voluptates, nam! Maxime, tempore?
      Autem nulla reiciendis laudantium vitae vel praesentium soluta alias.
      Sapiente, necessitatibus consequatur! Repellat, asperiores, dignissimos
      odit commodi ullam provident numquam sint veritatis quos illo voluptatum
      quidem consequuntur eius mollitia voluptatem. Rem animi beatae, sapiente
      ex placeat ducimus? Quia fugiat nihil magni et enim ad nemo, perspiciatis
      mollitia a, vel repellat consectetur repudiandae modi, ab suscipit
      expedita eveniet? Vero, ducimus! Molestias! Quibusdam id reiciendis
      officiis vero aperiam hic, qui neque commodi. Non blanditiis ipsa in
      inventore dolor numquam pariatur iure, beatae unde quos eum magnam
      molestiae odio reiciendis fugit temporibus tempora! Eius, illo mollitia
      quod tempora quia natus beatae error perferendis est quasi ab hic expedita
      dicta non tempore maxime, neque exercitationem officia magni commodi
      similique necessitatibus esse? Placeat, necessitatibus ducimus. Molestiae
      repellendus facere, sit, sint pariatur nostrum aspernatur deleniti esse
      dicta optio maxime beatae mollitia magnam iusto quia quis voluptatibus
      illum, veritatis accusantium fugiat. Quibusdam magnam incidunt omnis
      dolore labore!
    </div>
  </section>
  <section>
    <h2 class="titleSection">List</h2>
    <div class="mainColumn3">
      <div class="itemCol">
        <ul>
          <li>Lorem ipsum dolor sit amet.</li>
          <li>Lorem ipsum dolor sit amet.</li>
          <li>Lorem ipsum dolor sit amet.</li>
          <li>Lorem ipsum dolor sit amet.</li>
        </ul>
      </div>
      <div class="itemCol">
        <ol>
          <li>Lorem ipsum dolor sit amet.</li>
          <li>Lorem ipsum dolor sit amet.</li>
          <li>Lorem ipsum dolor sit amet.</li>
          <li>Lorem ipsum dolor sit amet.</li>
        </ol>
      </div>
    </div>
  </section>
  <section>
    <div class="mainColumn2">
      <div class="itemCol">
        <h2 class="titleSection">Formatting</h2>
        <p>
          <strong>Bold : Lorem ipsum dolor sit amet consectetur.</strong>
        </p>
        <p>
          <em>Italic : Lorem ipsum dolor sit amet consectetur.</em>
        </p>
        <p>Underline : <u>Lorem ipsum dolor sit amet consectetur.</u></p>
        <p>Strikethrough : <s>Lorem ipsum dolor sit amet consectetur.</s></p>
        <p>Link : <a href="#">Lorem ipsum dolor sit amet consectetur.</a></p>
        <p>Superscript : Lorem ipsum <sup>dolor sit amet consectetur.</sup></p>
        <p>Subscript : Lorem ipsum <sub>dolor sit amet consectetur.</sub></p>
      </div>
      <div class="itemCol">
        <h2 class="titleSection">Blockquote</h2>
        <blockquote>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus sequi
          eius officia dolor explicabo, quam eum molestiae nihil, laborum vero,
          aut est tempora harum molestias nulla alias aliquam? Mollitia,
          quibusdam! Velit quod, iste repellendus consequuntur sit, excepturi
          voluptatem recusandae ad quaerat, quidem dolor? Dolore vel cum facilis
          veritatis dignissimos molestiae laudantium odio iure impedit, totam
          maxime quam nobis dolorem quaerat! Placeat tempore at aspernatur
          repellat laudantium, facilis illo ratione enim similique recusandae?
          Animi, non incidunt, sapiente hic culpa aut quod dolorem mollitia
          perferendis ipsa ipsam reiciendis provident nesciunt adipisci error.
        </blockquote>
      </div>
    </div>
  </section>
  <section>
    <h2 class="titleSection">Table</h2>
    <table>
      <thead>
        <tr>
          <th>Head 1</th>
          <th>Head 2</th>
          <th>Head 3</th>
          <th>Head 4</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Lorem ipsum dolor sit amet consectetur.</td>
          <td>Lorem ipsum dolor sit amet consectetur.</td>
          <td>Lorem ipsum dolor sit amet consectetur.</td>
          <td>Lorem ipsum dolor sit amet consectetur.</td>
        </tr>
        <tr>
          <td>Lorem ipsum dolor sit amet consectetur.</td>
          <td>Lorem ipsum dolor sit amet consectetur.</td>
          <td>Lorem ipsum dolor sit amet consectetur.</td>
          <td>Lorem ipsum dolor sit amet consectetur.</td>
        </tr>
        <tr>
          <td>Lorem ipsum dolor sit amet consectetur.</td>
          <td>Lorem ipsum dolor sit amet consectetur.</td>
          <td>Lorem ipsum dolor sit amet consectetur.</td>
          <td>Lorem ipsum dolor sit amet consectetur.</td>
        </tr>
        <tr>
          <td>Lorem ipsum dolor sit amet consectetur.</td>
          <td>Lorem ipsum dolor sit amet consectetur.</td>
          <td>Lorem ipsum dolor sit amet consectetur.</td>
          <td>Lorem ipsum dolor sit amet consectetur.</td>
        </tr>
        <tr>
          <td>Lorem ipsum dolor sit amet consectetur.</td>
          <td>Lorem ipsum dolor sit amet consectetur.</td>
          <td>Lorem ipsum dolor sit amet consectetur.</td>
          <td>Lorem ipsum dolor sit amet consectetur.</td>
        </tr>
        <tr>
          <td>Lorem ipsum dolor sit amet consectetur.</td>
          <td>Lorem ipsum dolor sit amet consectetur.</td>
          <td>Lorem ipsum dolor sit amet consectetur.</td>
          <td>Lorem ipsum dolor sit amet consectetur.</td>
        </tr>
      </tbody>
    </table>
  </section>
  <section>
    <h2 class="titleSection">Formulaire</h2>
    <form>
      <div class="groupFields">
        <div class="itemField">
          <app-allfields
            typeField="textInput"
            textLable="Last name"
            nameField="lastName"
            [actionModel]="lastName"
            size="md"
          ></app-allfields>
        </div>
        <div class="itemField">
          <app-allfields
            typeField="textInput"
            [actionModel]="firstName"
            nameField="firstName"
            textLable="First name"
            size="md"
          ></app-allfields>
        </div>
      </div>
      <div class="groupFields">
        <div class="itemField">
          <app-allfields
            typeField="textInput"
            [actionModel]="email"
            nameField="email"
            textLable="E-mail"
            size="md"
          ></app-allfields>
        </div>
        <div class="itemField">
          <app-allfields
            typeField="textInput"
            [actionModel]="phone"
            nameField="phone"
            textLable="Phone"
            size="md"
          ></app-allfields>
        </div>
      </div>
      <div class="groupFields">
        <div class="itemField">
          <label for="chose1">Techno</label>
          <div class="boxcheck">
            <app-allfields
              typeField="checkbox"
              nameField="chose"
              [actionModel]="chose"
              textLable="Javascript"
            ></app-allfields>
          </div>
          <div class="boxcheck">
            <app-allfields
              typeField="checkbox"
              nameField="chose1"
              [actionModel]="chose1"
              textLable="PHP"
            ></app-allfields>
          </div>
          <div class="boxcheck">
            <app-allfields
              typeField="checkbox"
              nameField="chose2"
              [actionModel]="chose2"
              textLable="CSS"
            ></app-allfields>
          </div>
        </div>
        <div class="itemField">
          <label for="chose1">Framework</label>
          <div class="boxradio">
            <app-allfields
              typeField="radio"
              [actionModel]="choseRadio"
              textLable="React JS"
              valueRadio="chose 2"
              refRadio="chosen2"
            ></app-allfields>
          </div>
          <div class="boxradio">
            <app-allfields
              typeField="radio"
              [actionModel]="choseRadio"
              textLable="Laravel"
              valueRadio="chose 3"
              refRadio="chosen3"
            ></app-allfields>
          </div>
          <div class="boxradio">
            <app-allfields
              typeField="radio"
              [actionModel]="choseRadio"
              textLable="Synfony"
              valueRadio="chose 4"
              refRadio="chosen4"
            ></app-allfields>
          </div>
        </div>
      </div>
      <div class="groupFields">
        <div class="itemField">
          <app-allfields
            typeField="select"
            [actionModel]="choseSelect"
            placeholder="Sélectionner"
            [list]="listSelect"
            listItem="value"
            listValue="viewValue"
            listDisable="disable"
            [noObject]="true"
          ></app-allfields>
        </div>
      </div>
      <div class="groupFields groupFields--col1">
        <div class="itemField">
          <app-allfields
            typeField="textarea"
            [actionModel]="longText"
            textLable="Message"
          ></app-allfields>
        </div>
      </div>
    </form>
  </section>
  <section>
    <h2 class="titleSection">Font-icon</h2>
    <div class="mainColumn5 listrs">
      <div class="itemCol">
        <i class="icn-youtube"></i>
      </div>
      <div class="itemCol">
        <i class="icn-facebook"></i>
      </div>
      <div class="itemCol">
        <i class="icn-pinterest"></i>
      </div>
      <div class="itemCol">
        <i class="icn-linkedin"></i>
      </div>
      <div class="itemCol">
        <i class="icn-twitter"></i>
      </div>
    </div>
  </section>
</div>
