@mixin status($color) {
  color: $color;
  &::before {
    background: $color;
  }
}
.boxStatus {
  font-weight: 500;
  color: #616161;
  &::before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #616161;
    margin-right: 8px;
  }
  &--info {
    @include status(#1672ec);
  }
  &--success {
    @include status(#2ab930);
  }
  &--warning {
    @include status(#ed9526);
  }
  &--danger {
    @include status(#da100b);
  }
}
