<div class="sectDesign">
  <h2>Notification</h2>
  <div class="listCol">
    <div class="listCol__item">
      <div class="listBtn">
        <div class="listBtn__item">
          <app-notification
            title="Notification title"
            status="info"
            [borderNotif]="true"
            [icon]="true"
            buttonLabelLeft="bouton"
            buttonLabelRight="bouton"
            type="default"
          >
            This product is under active development and is available in a
            Private Beta, please contact Courier support for
            access.</app-notification
          >
        </div>
        <div class="listBtn__item">
          <app-notification
            status="info"
            [borderNotif]="true"
            [icon]="true"
            buttonLabelLeft="bouton"
            buttonLabelRight="bouton"
            type="default"
          >
            This product is under active development and is available in a
            Private Beta, please contact Courier support for
            access.</app-notification
          >
        </div>
        <div class="listBtn__item">
          <app-notification
            status="info"
            [borderNotif]="true"
            [icon]="true"
            type="default"
          >
            This product is under active development and is available in a
            Private Beta, please contact Courier support for
            access.</app-notification
          >
        </div>
      </div>
    </div>
    <div class="listCol__item">
      <div class="listBtn">
        <div class="listBtn__item">
          <app-notification
            title="Notification title"
            status="info"
            [icon]="true"
            buttonLabelLeft="bouton"
            buttonLabelRight="bouton"
            type="default"
          >
            This product is under active development and is available in a
            Private Beta, please contact Courier support for
            access.</app-notification
          >
        </div>
        <div class="listBtn__item">
          <app-notification
            status="info"
            [icon]="true"
            buttonLabelLeft="bouton"
            buttonLabelRight="bouton"
            type="default"
          >
            This product is under active development and is available in a
            Private Beta, please contact Courier support for
            access.</app-notification
          >
        </div>
        <div class="listBtn__item">
          <app-notification status="info" [icon]="true" type="default">
            This product is under active development and is available in a
            Private Beta, please contact Courier support for
            access.</app-notification
          >
        </div>
      </div>
    </div>
  </div>
  <div class="listCol">
    <div class="listCol__item">
      <div class="listBtn">
        <div class="listBtn__item">
          <app-notification
            title="Notification title"
            status="info"
            buttonLabelLeft="bouton"
            buttonLabelRight="bouton"
            type="default"
          >
            This product is under active development and is available in a
            Private Beta, please contact Courier support for
            access.</app-notification
          >
        </div>
        <div class="listBtn__item">
          <app-notification
            status="info"
            buttonLabelLeft="bouton"
            buttonLabelRight="bouton"
            type="default"
          >
            This product is under active development and is available in a
            Private Beta, please contact Courier support for
            access.</app-notification
          >
        </div>
        <div class="listBtn__item">
          <app-notification status="info" type="default">
            This product is under active development and is available in a
            Private Beta, please contact Courier support for
            access.</app-notification
          >
        </div>
      </div>
    </div>
  </div>
  <div class="listCol">
    <div class="listCol__item">
      <div class="listBtn">
        <div class="listBtn__item">
          <app-notification
            title="Notification title"
            status="info"
            [borderNotif]="true"
            [icon]="true"
            buttonLabelLeft="bouton"
            buttonLabelRight="bouton"
            [bg]="true"
            type="default"
          >
            This product is under active development and is available in a
            Private Beta, please contact Courier support for
            access.</app-notification
          >
        </div>
        <div class="listBtn__item">
          <app-notification
            status="info"
            [borderNotif]="true"
            [icon]="true"
            buttonLabelLeft="bouton"
            buttonLabelRight="bouton"
            [bg]="true"
            type="default"
          >
            This product is under active development and is available in a
            Private Beta, please contact Courier support for
            access.</app-notification
          >
        </div>
        <div class="listBtn__item">
          <app-notification
            status="info"
            [borderNotif]="true"
            [icon]="true"
            [bg]="true"
            type="default"
          >
            This product is under active development and is available in a
            Private Beta, please contact Courier support for
            access.</app-notification
          >
        </div>
      </div>
    </div>
    <div class="listCol__item">
      <div class="listBtn">
        <div class="listBtn__item">
          <app-notification
            title="Notification title"
            status="info"
            [icon]="true"
            buttonLabelLeft="bouton"
            buttonLabelRight="bouton"
            [bg]="true"
            type="default"
          >
            This product is under active development and is available in a
            Private Beta, please contact Courier support for
            access.</app-notification
          >
        </div>
        <div class="listBtn__item">
          <app-notification
            status="info"
            [icon]="true"
            buttonLabelLeft="bouton"
            buttonLabelRight="bouton"
            [bg]="true"
            type="default"
          >
            This product is under active development and is available in a
            Private Beta, please contact Courier support for
            access.</app-notification
          >
        </div>
        <div class="listBtn__item">
          <app-notification
            status="info"
            [icon]="true"
            [bg]="true"
            type="default"
          >
            This product is under active development and is available in a
            Private Beta, please contact Courier support for
            access.</app-notification
          >
        </div>
      </div>
    </div>
  </div>
  <div class="listCol">
    <div class="listCol__item">
      <div class="listBtn">
        <div class="listBtn__item">
          <app-notification
            title="Notification title"
            status="info"
            buttonLabelLeft="bouton"
            buttonLabelRight="bouton"
            [bg]="true"
            type="default"
          >
            This product is under active development and is available in a
            Private Beta, please contact Courier support for
            access.</app-notification
          >
        </div>
        <div class="listBtn__item">
          <app-notification
            status="info"
            buttonLabelLeft="bouton"
            buttonLabelRight="bouton"
            [bg]="true"
            type="default"
          >
            This product is under active development and is available in a
            Private Beta, please contact Courier support for
            access.</app-notification
          >
        </div>
        <div class="listBtn__item">
          <app-notification status="info" [bg]="true" type="default">
            This product is under active development and is available in a
            Private Beta, please contact Courier support for
            access.</app-notification
          >
        </div>
      </div>
    </div>
  </div>
  <div class="listCol">
    <div class="listCol__item">
      <div class="listBtn">
        <div class="listBtn__item">
          <app-notification
            title="Notification title"
            status="success"
            [borderNotif]="true"
            [icon]="true"
            buttonLabelLeft="bouton"
            buttonLabelRight="bouton"
            type="default"
          >
            This product is under active development and is available in a
            Private Beta, please contact Courier support for
            access.</app-notification
          >
        </div>
        <div class="listBtn__item">
          <app-notification
            status="success"
            [borderNotif]="true"
            [icon]="true"
            buttonLabelLeft="bouton"
            buttonLabelRight="bouton"
            type="default"
          >
            This product is under active development and is available in a
            Private Beta, please contact Courier support for
            access.</app-notification
          >
        </div>
        <div class="listBtn__item">
          <app-notification
            status="success"
            [borderNotif]="true"
            [icon]="true"
            type="default"
          >
            This product is under active development and is available in a
            Private Beta, please contact Courier support for
            access.</app-notification
          >
        </div>
      </div>
    </div>
    <div class="listCol__item">
      <div class="listBtn">
        <div class="listBtn__item">
          <app-notification
            title="Notification title"
            status="success"
            [icon]="true"
            buttonLabelLeft="bouton"
            buttonLabelRight="bouton"
            type="default"
          >
            This product is under active development and is available in a
            Private Beta, please contact Courier support for
            access.</app-notification
          >
        </div>
        <div class="listBtn__item">
          <app-notification
            status="success"
            [icon]="true"
            buttonLabelLeft="bouton"
            buttonLabelRight="bouton"
            type="default"
          >
            This product is under active development and is available in a
            Private Beta, please contact Courier support for
            access.</app-notification
          >
        </div>
        <div class="listBtn__item">
          <app-notification status="success" [icon]="true" type="default">
            This product is under active development and is available in a
            Private Beta, please contact Courier support for
            access.</app-notification
          >
        </div>
      </div>
    </div>
  </div>
  <div class="listCol">
    <div class="listCol__item">
      <div class="listBtn">
        <div class="listBtn__item">
          <app-notification
            title="Notification title"
            status="success"
            buttonLabelLeft="bouton"
            buttonLabelRight="bouton"
            type="default"
          >
            This product is under active development and is available in a
            Private Beta, please contact Courier support for
            access.</app-notification
          >
        </div>
        <div class="listBtn__item">
          <app-notification
            status="success"
            buttonLabelLeft="bouton"
            buttonLabelRight="bouton"
            type="default"
          >
            This product is under active development and is available in a
            Private Beta, please contact Courier support for
            access.</app-notification
          >
        </div>
        <div class="listBtn__item">
          <app-notification status="success" type="default">
            This product is under active development and is available in a
            Private Beta, please contact Courier support for
            access.</app-notification
          >
        </div>
      </div>
    </div>
  </div>
  <div class="listCol">
    <div class="listCol__item">
      <div class="listBtn">
        <div class="listBtn__item">
          <app-notification
            title="Notification title"
            status="success"
            [borderNotif]="true"
            [icon]="true"
            buttonLabelLeft="bouton"
            buttonLabelRight="bouton"
            [bg]="true"
            type="default"
          >
            This product is under active development and is available in a
            Private Beta, please contact Courier support for
            access.</app-notification
          >
        </div>
        <div class="listBtn__item">
          <app-notification
            status="success"
            [borderNotif]="true"
            [icon]="true"
            buttonLabelLeft="bouton"
            buttonLabelRight="bouton"
            [bg]="true"
            type="default"
          >
            This product is under active development and is available in a
            Private Beta, please contact Courier support for
            access.</app-notification
          >
        </div>
        <div class="listBtn__item">
          <app-notification
            status="success"
            [borderNotif]="true"
            [icon]="true"
            [bg]="true"
            type="default"
          >
            This product is under active development and is available in a
            Private Beta, please contact Courier support for
            access.</app-notification
          >
        </div>
      </div>
    </div>
    <div class="listCol__item">
      <div class="listBtn">
        <div class="listBtn__item">
          <app-notification
            title="Notification title"
            status="success"
            [icon]="true"
            buttonLabelLeft="bouton"
            buttonLabelRight="bouton"
            [bg]="true"
            type="default"
          >
            This product is under active development and is available in a
            Private Beta, please contact Courier support for
            access.</app-notification
          >
        </div>
        <div class="listBtn__item">
          <app-notification
            status="success"
            [icon]="true"
            buttonLabelLeft="bouton"
            buttonLabelRight="bouton"
            [bg]="true"
            type="default"
          >
            This product is under active development and is available in a
            Private Beta, please contact Courier support for
            access.</app-notification
          >
        </div>
        <div class="listBtn__item">
          <app-notification
            status="success"
            [icon]="true"
            [bg]="true"
            type="default"
          >
            This product is under active development and is available in a
            Private Beta, please contact Courier support for
            access.</app-notification
          >
        </div>
      </div>
    </div>
  </div>
  <div class="listCol">
    <div class="listCol__item">
      <div class="listBtn">
        <div class="listBtn__item">
          <app-notification
            title="Notification title"
            status="success"
            buttonLabelLeft="bouton"
            buttonLabelRight="bouton"
            [bg]="true"
            type="default"
          >
            This product is under active development and is available in a
            Private Beta, please contact Courier support for
            access.</app-notification
          >
        </div>
        <div class="listBtn__item">
          <app-notification
            status="success"
            buttonLabelLeft="bouton"
            buttonLabelRight="bouton"
            [bg]="true"
            type="default"
          >
            This product is under active development and is available in a
            Private Beta, please contact Courier support for
            access.</app-notification
          >
        </div>
        <div class="listBtn__item">
          <app-notification status="success" [bg]="true" type="default">
            This product is under active development and is available in a
            Private Beta, please contact Courier support for
            access.</app-notification
          >
        </div>
      </div>
    </div>
  </div>
  <h3>Use data</h3>
  <div class="listCol">
    <div class="listCol__item">
      <div class="listBtn">
        <div class="listBtn__item">
          <app-notification [data]="notification"></app-notification>
        </div>
      </div>
    </div>
  </div>
  <h3>Action notification</h3>
  <div class="listBtnOpen">
    <div class="listBtnOpen__item">
      <app-default-button (action)="openNotif()"
        >Open Notification</app-default-button
      >
    </div>
    <div class="listBtnOpen__item">
      <app-default-button (action)="openToast()">Open Toast</app-default-button>
    </div>
  </div>
</div>
