<div
  class="cntNotification"
  [ngClass]="[
    status ? 'cntNotification--' + status : '',
    status && bg ? 'cntNotification--' + status + '--bg' : '',
    borderNotif ? 'cntNotification--border' : '',
    type !== 'default' ? 'cntNotification--type' : '',
    actionOpen ? 'cntNotification--open' : ''
  ]"
>
  @if (icon) {
  <div class="cntNotification__icn">
    @if (iconSpec) {
    <i class="{{ iconSpec }}"></i>
    } @else { @for (iconItem of listIcon; track $index) { @if (iconItem.status
    === status) {
    <i class="{{ iconItem.icon }}"></i>
    } } }
  </div>
  }
  <div class="cntNotification__body">
    @if (title) {
    <div class="cntNotification__title">{{ title }}</div>
    }
    <div class="cntNotification__content">
      @if (message) {
      {{ message }}
      } @else {
      <ng-content></ng-content>
      }
    </div>
    @if (buttonLabelLeft || buttonLabelRight) { @if (type !== "toast") {
    <div class="cntNotification__btn">
      <div class="listbtn">
        @if (buttonLabelLeft) {
        <div class="listbtn__item">
          <app-default-button aspect="outline" (action)="onOpen(false)">{{
            buttonLabelLeft
          }}</app-default-button>
        </div>
        } @if (buttonLabelRight) {
        <div class="listbtn__item">
          <app-default-button (action)="onAccept()">{{
            buttonLabelRight
          }}</app-default-button>
        </div>
        }
      </div>
    </div>
    } }
  </div>
  @if (closeButton && type !== "toast") {
  <div
    class="cntNotification__close"
    (click)="onOpen(false)"
    (keypress)="onOpen(false)"
  ></div>
  }
</div>
