<div class="container">
  <div class="cntField">
    <app-allfields
      typeField="textInput"
      [parentForm]="formDefault"
      nameField="text"
      textLable="Label"
      icon="icn-cube"
      [fieldError]="
        testError(formDefault.get('text'), [
          'required',
          'pattern',
          'minlength',
          'maxlength'
        ])
      "
      errortxtRequired="This field is required"
      errortxtPattern="This field is pattern"
      errortxtMin="This field is Min"
      errortxtMax="This field is Max"
      [formValidation]="formValidation"
      (actionField)="dateform($event)"
    ></app-allfields>
  </div>
  <div class="cntField">
    <app-allfields
      typeField="passwordInput"
      [parentForm]="formDefault"
      nameField="pass"
      textLable="Label"
      icon="icn-cube"
      [fieldError]="
        testError(formDefault.get('pass'), [
          'required',
          'minlength',
          'maxlength'
        ])
      "
      errortxtRequired="This field is required"
      errortxtMin="This field is Min"
      errortxtMax="This field is Max"
      [formValidation]="formValidation"
      (actionField)="dateform($event)"
    ></app-allfields>
  </div>
  <div class="cntField">
    <app-allfields
      typeField="textarea"
      [parentForm]="formDefault"
      nameField="long"
      textLable="Label"
      icon="icn-cube"
      [fieldError]="testError(formDefault.get('long'), ['required'])"
      errortxtRequired="This field is required"
      [formValidation]="formValidation"
      (actionField)="dateform($event)"
    ></app-allfields>
  </div>
  <app-default-button (action)="onAction()">Send</app-default-button>
</div>
