<div class="sectDesign">
  <h2>Tabs</h2>
  <div class="listTabs">
    <div class="listTabs__item">
      <div class="mainTabs">
        <mat-tab-group
          mat-stretch-tabs="false"
          mat-align-tabs="start"
          animationDuration="0ms"
        >
          <mat-tab>
            <ng-template mat-tab-label
              ><div class="mainTabs__header">1 First</div></ng-template
            >
            <div class="mainTabs__body">Content 1</div>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label
              ><div class="mainTabs__header">2 Second</div></ng-template
            >
            <div class="mainTabs__body">Content 2</div>
          </mat-tab>
          <mat-tab disabled>
            <ng-template mat-tab-label
              ><div class="mainTabs__header">3 Third</div></ng-template
            >
            <div class="mainTabs__body">Content 3</div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
    <div class="listTabs__item">
      <div class="mainTabs">
        <mat-tab-group
          mat-stretch-tabs="false"
          mat-align-tabs="start"
          animationDuration="0ms"
        >
          <mat-tab>
            <ng-template mat-tab-label>
              <div class="mainTabs__header">
                <i class="icn-youtube"></i> First
              </div>
            </ng-template>
            <div class="mainTabs__body">Content 1</div>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label
              ><div class="mainTabs__header">
                <i class="icn-youtube"></i> Second
              </div></ng-template
            >
            <div class="mainTabs__body">Content 2</div>
          </mat-tab>
          <mat-tab disabled>
            <ng-template mat-tab-label
              ><div class="mainTabs__header">
                <i class="icn-youtube"></i> Third
              </div></ng-template
            >
            <div class="mainTabs__body">Content 3</div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
  <div class="listTabs">
    <div class="listTabs__item">
      <div class="mainTabs mainTabs--standard">
        <mat-tab-group
          mat-stretch-tabs="false"
          mat-align-tabs="start"
          animationDuration="0ms"
        >
          <mat-tab>
            <ng-template mat-tab-label
              ><div class="mainTabs__header">1 First</div></ng-template
            >
            <div class="mainTabs__body">Content 1</div>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label
              ><div class="mainTabs__header">2 Second</div></ng-template
            >
            <div class="mainTabs__body">Content 2</div>
          </mat-tab>
          <mat-tab disabled>
            <ng-template mat-tab-label
              ><div class="mainTabs__header">3 Third</div></ng-template
            >
            <div class="mainTabs__body">Content 3</div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
    <div class="listTabs__item">
      <div class="mainTabs mainTabs--standard">
        <mat-tab-group
          mat-stretch-tabs="false"
          mat-align-tabs="start"
          animationDuration="0ms"
        >
          <mat-tab>
            <ng-template mat-tab-label>
              <div class="mainTabs__header">
                <i class="icn-youtube"></i> First
              </div>
            </ng-template>
            <div class="mainTabs__body">Content 1</div>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label
              ><div class="mainTabs__header">
                <i class="icn-youtube"></i> Second
              </div></ng-template
            >
            <div class="mainTabs__body">Content 2</div>
          </mat-tab>
          <mat-tab disabled>
            <ng-template mat-tab-label
              ><div class="mainTabs__header">
                <i class="icn-youtube"></i> Third
              </div></ng-template
            >
            <div class="mainTabs__body">Content 3</div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>
