<div class="sectDesign">
  <h2>Notification</h2>
  <div class="list">
    <div class="list__item">
      <app-default-table
        (actionOrder)="actionOrder($event)"
        (actionFilter)="openFilter($event)"
        (actionBtn)="actionBtn($event)"
        [listStatus]="listStatus"
        [dataList]="dataList"
        [listHeader]="listHeader"
      ></app-default-table>
    </div>
    <div class="list__item">
      <app-default-table
        (actionOrder)="actionOrder($event)"
        (actionFilter)="openFilter($event)"
        (actionBtn)="actionBtn($event)"
        [listStatus]="listStatus"
        [dataList]="dataList"
        [listHeader]="listHeader"
        [darkMode]="true"
      ></app-default-table>
    </div>
  </div>
</div>
