<div class="sectDesign">
  <h2>Popins</h2>
  <div class="listbtn">
    <div class="listbtn__item">
      <app-default-button (action)="openModalAction1()"
        >Open Modal Simple</app-default-button
      >
    </div>
    <div class="listbtn__item">
      <app-default-button (action)="openModalAction2()"
        >Open Modal</app-default-button
      >
    </div>
  </div>
</div>

<app-modal
  title="Titre popin"
  [widthModal]="430"
  (actionExecute)="onAction()"
  buttonLabelLeft="Button 2"
  buttonLabelRight="Button 1"
  [openAction]="openModal1"
  (openActionChange)="onOpenModal1($event)"
>
  <div class="mainModal__info">Important</div>
  <div class="mainModal__preContent">
    The backups created with this functionality may contain some sensitive data.
  </div>
  <div class="mainModal__content">
    The archived files will be automatically deleted after 1 mounth. You will
    not be able to access to your file if they are deleted.
  </div>
  <div class="mainModal__info">Libellé : <strong>Information</strong></div>
  <div class="listChoose">
    <div class="listChoose__item">
      <app-allfields
        typeField="radio"
        textLable="20GB, individual storage"
        [parentForm]="formDefault"
        nameField="choose"
        valueRadio="chose 1"
        refRadio="chosen1"
      ></app-allfields>
    </div>
    <div class="listChoose__item">
      <app-allfields
        typeField="radio"
        textLable="50GB, shared storage"
        [parentForm]="formDefault"
        nameField="choose"
        valueRadio="chose 2"
        refRadio="chosen2"
      ></app-allfields>
    </div>
  </div>
  <div class="cntinput">
    <app-allfields
      typeField="textInput"
      [parentForm]="formDefault"
      nameField="text"
      textLable="Full name"
      icon="false"
      [fullWidth]="true"
    ></app-allfields>
  </div>
  <div class="cntinput">
    <app-allfields
      typeField="select"
      [parentForm]="formDefault"
      nameField="choseSelect"
      placeholder="Statut"
      [list]="listSelect"
      listItem="value"
      listValue="viewValue"
      listDisable="disable"
    ></app-allfields>
  </div>
  <div class="mainModal__note">
    We suggest to hide your data for your privacy.
  </div>
</app-modal>
<app-modal
  title="TICKET ABH-876"
  (actionExecute)="onAction()"
  buttonLabelLeft="Annuler"
  buttonLabelRight="Enregistrer"
  [openAction]="openModal2"
  (openActionChange)="onOpenModal2($event)"
  typeModal="right"
>
  modal 2
</app-modal>
