<div class="sectDesign">
  <h2>Button</h2>
  <div class="listTypeBtn">
    <div class="listTypeBtn__item">
      <div class="listBtn">
        @for (buttonAction of buttonActions; track $index) {
        <div class="listBtn__item">
          <app-default-button
            [data]="buttonAction"
            (action)="onAction()"
          ></app-default-button>
        </div>
        }
      </div>
    </div>
    <div class="listTypeBtn__item">
      <div class="listBtn">
        @for (buttonAction of buttonActions2; track $index) {
        <div class="listBtn__item">
          <app-default-button
            [data]="buttonAction"
            (action)="onAction()"
          ></app-default-button>
        </div>
        }
      </div>
    </div>
    <div class="listTypeBtn__item">
      <div class="listBtn">
        @for (buttonAction of buttonActions3; track $index) {
        <div class="listBtn__item">
          <app-default-button
            [data]="buttonAction"
            (action)="onAction()"
          ></app-default-button>
        </div>
        }
      </div>
    </div>
    <div class="listTypeBtn__item">
      @for (buttonAction of buttonActions4; track $index) {
      <div class="listBtn__item">
        <app-default-button
          [data]="buttonAction"
          (action)="onAction()"
        ></app-default-button>
      </div>
      }
    </div>
    <div class="listTypeBtn__item">
      @for (buttonAction of buttonActions5; track $index) {
      <div class="listBtn__item">
        <app-default-button
          [data]="buttonAction"
          (action)="onAction()"
        ></app-default-button>
      </div>
      }
    </div>
  </div>
</div>
