<div class="sectDesign">
  <h2>Breadcrumbs</h2>
  <div class="listCol">
    <div class="listCol__item">
      <div class="listBtn">
        <div class="listBtn__item">
          <app-breadcrumb [listNavigation]="breadcrumb2"></app-breadcrumb>
        </div>
        <div class="listBtn__item">
          <app-breadcrumb
            [listNavigation]="breadcrumb2"
            [aspect]="'arrow2'"
          ></app-breadcrumb>
        </div>
        <div class="listBtn__item">
          <app-breadcrumb
            [listNavigation]="breadcrumb2"
            [aspect]="'arrow3'"
          ></app-breadcrumb>
        </div>
        <div class="listBtn__item">
          <app-breadcrumb
            [listNavigation]="breadcrumb2"
            [aspect]="'arrow4'"
          ></app-breadcrumb>
        </div>
      </div>
    </div>
    <div class="listCol__item">
      <div class="listBtn">
        <div class="listBtn__item">
          <app-breadcrumb
            [listNavigation]="breadcrumb2"
            [bgColor]="true"
          ></app-breadcrumb>
        </div>
        <div class="listBtn__item">
          <app-breadcrumb
            [listNavigation]="breadcrumb2"
            [aspect]="'arrow2'"
            [bgColor]="true"
          ></app-breadcrumb>
        </div>
        <div class="listBtn__item">
          <app-breadcrumb
            [listNavigation]="breadcrumb2"
            [aspect]="'arrow3'"
            [bgColor]="true"
          ></app-breadcrumb>
        </div>
        <div class="listBtn__item">
          <app-breadcrumb
            [listNavigation]="breadcrumb2"
            [aspect]="'arrow4'"
            [bgColor]="true"
          ></app-breadcrumb>
        </div>
      </div>
    </div>
  </div>
  <div class="listCol">
    <div class="listCol__item">
      <div class="listBtn">
        <div class="listBtn__item">
          <app-breadcrumb [listNavigation]="breadcrumb"></app-breadcrumb>
        </div>
        <div class="listBtn__item">
          <app-breadcrumb
            [listNavigation]="breadcrumb"
            [aspect]="'arrow2'"
          ></app-breadcrumb>
        </div>
        <div class="listBtn__item">
          <app-breadcrumb
            [listNavigation]="breadcrumb"
            [aspect]="'arrow3'"
          ></app-breadcrumb>
        </div>
        <div class="listBtn__item">
          <app-breadcrumb
            [listNavigation]="breadcrumb"
            [aspect]="'arrow4'"
          ></app-breadcrumb>
        </div>
      </div>
    </div>
    <div class="listCol__item">
      <div class="listBtn">
        <div class="listBtn__item">
          <app-breadcrumb
            [listNavigation]="breadcrumb"
            [bgColor]="true"
          ></app-breadcrumb>
        </div>
        <div class="listBtn__item">
          <app-breadcrumb
            [listNavigation]="breadcrumb"
            [aspect]="'arrow2'"
            [bgColor]="true"
          ></app-breadcrumb>
        </div>
        <div class="listBtn__item">
          <app-breadcrumb
            [listNavigation]="breadcrumb"
            [aspect]="'arrow3'"
            [bgColor]="true"
          ></app-breadcrumb>
        </div>
        <div class="listBtn__item">
          <app-breadcrumb
            [listNavigation]="breadcrumb"
            [aspect]="'arrow4'"
            [bgColor]="true"
          ></app-breadcrumb>
        </div>
      </div>
    </div>
  </div>
</div>
