
<div class="sectAuth">
    <div class="sectAuth__img">
        <picture class="boxImg">
            <img src="/assets/images/login-dfc.jpg" alt="illustration">
        </picture>
    </div>
    <div class="sectAuth__txt">
        <div class="boxTxt">
            <div class="boxTxt__header">
                <div class="boxHeader">
                    <h1 class="title">Bienvenue</h1>
                </div>
            </div>

            <div class="boxTxt__content">
                <div class="boxContent">
                    <div class="boxContent__info">
                        <div class="boxInfo">Merci d’entrer votre nom d’utilisateur et votre mot de passe pour vous connecter</div>
                    </div>
                    <div class="boxContent__form">
                        <div class="boxForm" >
                            <div class="formGroup">
                                <app-allfields
                                    typeField="textInput"
                                    [parentForm]="formDefault"
                                    nameField="login"
                                    textLable="Identifiant"
                                    formControlName="login"
                                    [fullWidth]="true"
                                    (actionField)="dateform($event)"
                                    [fieldError]="
                                        testError(formDefault.get('login'), [
                                        'required',
                                        'pattern'
                                        ])
                                    "
                                    errortxtRequired="Champ obligatoire"
                                    errortxtPattern="Adresse mail incorrect"
                                    [formValidation]="formValidation"
                                ></app-allfields>
                            </div>
                            <div class="formGroup">
                                <app-allfields
                                    [typeField]="'password'"
                                    [parentForm]="formDefault"
                                    nameField="password"
                                    textLable="Password"
                                    formControlName="password"
                                    [icon]="showPassword ? 'icn-view-slash' : 'icn-view'"
                                    [fullWidth]="true"                                    
                                    (stateClickIcon)="stateIcon($event)"
                                    (actionField)="dateform($event)"
                                    [fieldError]="
                                        testError(formDefault.get('password'), [
                                        'required'
                                        ])
                                    "
                                    errortxtRequired="Champ obligatoire"
                                    [formValidation]="formValidation"
                                ></app-allfields>
                            </div>
                            <span class="errorMessage">{{errorMessage ? errorMessage : ''}}</span>
                            <app-default-button [fullWidth]="true" (action)="login()" class="btnConnexion">Se connecter</app-default-button>
                            
                        </div>
                    </div>
                    <div class="boxContent__links">
                        <div class="links">
                            <div class="separator"><span>ou</span></div>
                            <a href="#" class="link-top">Pas encore d'identifiant?</a>
                            <app-default-button [fullWidth]="true" class="link-bottom" aspect="unborder">Demander un identifiant</app-default-button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="boxTxt__footer">
                <div class="boxFooter">
                    <div class="boxFooter__logo">
                        <picture class="logo">
                            <img src="/assets/images/logo.svg" alt="logo">
                        </picture>
                    </div>
                    <div class="boxFooter__txt">
                        <div class="boxTxt">
                            <div class="boxTxt__title">
                                <div class="title">Selfcare</div>
                            </div>
                            <div class="boxTxt__underTitle">
                                <div class="underTitle">Comores</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

