<div class="sectDesign">
  <h2>Badges</h2>
  <div class="listCol">
    <div class="listCol__item">
      <div class="listIntern">
        <div class="listIntern__item">
          <app-badges>Info</app-badges>
        </div>
        <div class="listIntern__item">
          <app-badges aspectBadge="red">Info</app-badges>
        </div>
        <div class="listIntern__item">
          <app-badges aspectBadge="green">Info</app-badges>
        </div>
        <div class="listIntern__item">
          <app-badges aspectBadge="yellow">Info</app-badges>
        </div>
        <div class="listIntern__item">
          <app-badges aspectBadge="darkBlue">Info</app-badges>
        </div>

        <div class="listIntern__item">
          <app-badges aspectBadge="blue">Info</app-badges>
        </div>
        <div class="listIntern__item">
          <app-badges aspectBadge="orange">Info</app-badges>
        </div>
        <div class="listIntern__item">
          <app-badges aspectBadge="grey">Info</app-badges>
        </div>
      </div>
    </div>
    <div class="listCol__item">
      <div class="listIntern">
        <div class="listIntern__item">
          <app-badges typeBadge="number" [numberContent]="3"></app-badges>
        </div>
        <div class="listIntern__item">
          <app-badges
            typeBadge="number"
            aspectBadge="red"
            [numberContent]="3"
          ></app-badges>
        </div>
        <div class="listIntern__item">
          <app-badges
            typeBadge="number"
            aspectBadge="yellow"
            [numberContent]="103"
          ></app-badges>
        </div>
        <div class="listIntern__item">
          <app-badges
            typeBadge="number"
            aspectBadge="darkBlue"
            [numberContent]="34"
          ></app-badges>
        </div>
        <div class="listIntern__item">
          <app-badges
            typeBadge="number"
            aspectBadge="green"
            [numberContent]="45"
          ></app-badges>
        </div>
        <div class="listIntern__item">
          <app-badges
            typeBadge="number"
            aspectBadge="blue"
            [numberContent]="2"
          ></app-badges>
        </div>
        <div class="listIntern__item">
          <app-badges
            typeBadge="number"
            aspectBadge="orange"
            [numberContent]="3"
          ></app-badges>
        </div>
        <div class="listIntern__item">
          <app-badges
            typeBadge="number"
            aspectBadge="grey"
            [numberContent]="123"
          ></app-badges>
        </div>
      </div>
    </div>
  </div>
</div>
